.costDate {
	display: flex;
	flex-direction: column;
	width: 5.5rem;
	border: 1px solid #ececec;
	border-radius: 12px;
	background-color: #2a5b84;
	color: #fefae1;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0.25rem;
}

.costDateMonth {
	font-size: 1rem;
	font-weight: bold;
}

.costDateYear {
	font-size: 1rem;
}

.costDateDay {
	font-size: 1.5rem;
	font-weight: bold;
}
